@charset "UTF-8";

.invisible {
    display: none;
}

.preloader {
	width:    856px;
    min-width: 300px;
    height: 500px;
    padding-top: 250px;
    text-align: center;
    position: absolute;
    z-Index: 1000;
    background-color: #ffffff;
    opacity: 0.5;
}

.tabContent
{
    height:400px;
}

.tabsBar {
	margin-bottom: 0px;
	max-width: 856px;
}

.tabsBar .tab a {
    color: black;
}

.tabsBar .tab a:hover {
    text-decoration: none;
}

.qtip.qtip-default.qtip-ranking {
    border: 4px solid #111;
    padding-top: 0.5em;
}

/* Debug Console  */

div#graphframe {
	max-width: 856px;
	min-width: 356px;
	width: 856px;
	float: left;
	height: 550px;
	overflow: hidden;
	text-align: center;
}

div#detail {
    width: 346px;
    min-width: 300px;
    overflow: auto; 
	height: 550px;
	background-color: #ffffff;
	text-align: left;
	padding: 5px;
}

div#detail .header {
	padding-left:10px;
	padding-right: 10px;
	text-align: left;
	height: 40px;
	margin-bottom: 5px;
}

div#detail .body {

	font-size:120%;
	text-align: center;

}

div#detail .body div {

	display: inline-block;
	width: 80%;
	text-align: left;
	

}



div#graph {
	width: 500px;
	height: 550px;
	float: left;
	b-ackground-color: #d9e3f3;
}

#graph svg .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#graph svg .link {
  stroke: #999;
  stroke-opacity: .6;
}

div.tooltip {
	padding: 2px;
	border: 1px solid #808080;
	max-width: 250px;
	background-color: #F0F0F0;
}



div.debugwrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #808080;
    visibility: hidden;
}

div#debug {
    height: 540px;
    max-width: 500px;
    overflow: auto;
    display: none;
}

div.debugwrapper:hover div#debug {
	display: block;
	background-color: #F0E000;
	color: #000;

}

div.debugwrapper div#debug.always {
	display: block;
	background-color: #F0E000;
	color: #000;
}



