@charset "UTF-8";

.invisible {
    display: none;
}

.preloader {
    width: 100%;
    text-align: center;
}

.tabContent
{
    height:400px;
}

.tabsBar .tab a {
    color: black;
}

.tabsBar .tab a:hover {
    text-decoration: none;
}

.qtip.qtip-default.qtip-ranking {
    border: 4px solid #111;
    padding-top: 0.5em;
}

/* Debug Console  */

div#debug {
    background-color: #F0E000;
    height: 150px;
    overflow: auto; 
}
